* {
    margin: 0;
    box-sizing: border-box;
}

body, #root, .App {
    height: 100vh;
    width: 100vw;
}

/* Nav */

.nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: gray;
    height: 12vh;
}

.nav .portrait {
    height: 50px;
    width: 50px;
}

.nav .portrait:hover {
    cursor: pointer;
}

.portrait#aizen {
    text-align: center;
    background-color: red;
}

.portrait#city-builder {
    text-align: center;
    background-color: purple;
}

.portrait#maquina-deseos {
    text-align: center;
    background-color: blue;
}

/* City builder */

#city {
    display: flex;
}

.submit {
    display: none;
}

.submit-show {
    display: inline-block;
}

.modal-img {
    height: 50px;
    width: 50px;
    background-color: purple;
}

#city dialog {
 
}

#city dialog div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

dialog span {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100px;
    width: 50px;
    gap: 8px;
}

/* Maquina deseos */

#root #content {
    display: flex;
    flex-direction: column;
}

#maquina-deseos-div {
    display: flex;
    align-items: center;
    min-height: 88vh;
}

.maquina-btn {
    height: 5px;
    width: 5px;
    position: absolute;
}