* {
    box-sizing: content-box;
    margin: 0;
}

:root {
    --general-height: 200px;
    --general-width: 200px;
}

@keyframes not-cleared-yet {
    from {
        color: purple;
        font-size: 1.5rem;
    }

    25% {
        color: pink;
    }

    50% {
        color: red;
    }

    75% {
        color: pink;
    }

    to {
        color: purple;
        font-size: 1.9rem;
    }
}

/* Main content */

#main-content {
    background: url('./images/chessboard.jpg');
    height: 100vh;
    width: 100vw;
}

/* Challenges */

.challenge {
    width: var(--general-width);
    height: var(--general-height);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.challenge p {
    animation: 1.5s not-cleared-yet infinite alternate;
}

#challenge-1 {
    position: absolute;
    top: 10%;
    left: calc(50% - calc(var(--general-width) / 2));
}

#challenge-2 {
    position: absolute;
    left: 10%;
    top: calc(50% - calc(var(--general-height) / 2));
}

#challenge-3 {
    position: absolute;
    right: 10%;
    top: calc(50% - calc(var(--general-height) / 2));
}

#challenge-4 {
    position: absolute;
    bottom: 10%;
    left: calc(50% - calc(var(--general-width) / 2));
}

.player-icon {
    width: var(--general-width);
    height: var(--general-height);
}

.challenge-button {
    padding: 10px 40px;
    border: none;
    border-radius: 30px;
    background-color: rgba(241, 227, 227, 0.5) ;
}

.challenge-button:hover {
    cursor: pointer;
}
